.hero {
  position: relative;
  height: clamp(320px, 75vh, 520px);
  overflow: hidden;
  margin-bottom: 5%;
}

.montclair-header {
  position: relative;
  z-index: 100;
}

.hero-slide {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-size: cover;
  background-position: center;

  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-slide.active {
  opacity: 1;
  z-index: 1;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  z-index: 0;

  background: linear-gradient(
    rgba(0,0,0,.20),
    rgba(0,0,0,.35)
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

.indicator {
  width: 10px !important;
  height: 10px !important;

  min-width: 10px;
  min-height: 10px;

  padding: 0;

  border: none;

  border-radius: 50%;

  cursor: pointer;

  background: rgba(255,255,255,.5);

  transition: .3s;
}

.indicator.active {
  background: white;
  transform: scale(1.25);
}

.hero-content {
  text-align: center;
  color: white;

  max-width: 700px;
  padding: 20px;
}

.hero-tag {
  display: inline-block;

  padding: 8px 18px;

  border: 1px solid white;

  border-radius: 50px;

  margin-bottom: 25px;

  font-size: .85rem;
  letter-spacing: 2px;
}

.hero-content h1 {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  font-weight: 300;

  margin-bottom: 15px;

  font-family: "Cormorant Garamond", serif;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-btn {
  border: none;

  padding: 14px 40px;

  background: white;

  color: #57071b;

  font-weight: 600;

  border-radius: 40px;

  transition: .3s;
}

.hero-btn:hover {
  transform: translateY(-3px);
}

.hero-indicators {
  position: absolute;

  bottom: 15px;
  left: 50%;

  transform: translateX(-50%);

  display: flex;
  gap: 10px;

  z-index: 10;
}

.indicator {
  width: 12px;
  height: 12px;

  border-radius: 50%;

  border: none;

  background: rgba(255,255,255,.5);
}

.indicator.active {
  background: white;
}

@media (max-width: 768px) {

  .hero {
    height: 45vh;
    min-height: 250px;
  }

  .hero-content h1 {
    font-size: 2.4rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}